* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-width: 400px;
    width: 100%;
    height: 100%;
    background-color: var(--body-bg);
    line-height: 1.5;
    transition-duration:0.2s
}
@media screen and (max-width: 990px){
    .home-container {
        flex-direction: column-reverse;
    }
    .main>.home-container>.info-container{
        padding: 5px 15px 5px 15px;
        /*max-width: 990px;*/
        position: inherit;
    }
    .main>.home-container>.info-container>.info-container-inner>.info>.info-icon{
        margin-top: 20px;
        width: auto;
        height: 180px;

    }
    .main>.home-container>.post-container{
        padding: 5px 15px 5px 15px;
    }
    .main>.topTitle{
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        font-size: 50px;
        line-height: 200px;
        color: var(--text-color);
        width: 100%;
        transition-duration: 0.4s;
        height: 200px;

    }
    .main>.topTitle:hover{
        color: var(--tianyi-color);
    }
}

@media (prefers-color-scheme:dark){
    body[data-theme=auto]{
        --body-bg:#333333;
        --post-bg:rgb(38,38,38);
        --header-bg:rgba(38,38,38,0.45);
        --post-shadow-color:#404040;
        --text-color:snow;
        --text-blogname-color:snow;
        --tianyi-color:#66ccff;
        --post-code-bg:#333333;
        --post-code-text-color:snow;
        --post-reference-bg:#595959;
    }
}
@media (prefers-color-scheme:light){
    body[data-theme=auto]{
        --body-bg:#fff;
        --post-bg:#ededed;
        --header-bg:rgba(194,194,194,0.45);
        --post-shadow-color:#d6d6d6;
        --text-color:#242424;
        --text-blogname-color:black;
        --tianyi-color:#66ccff;
        --post-code-bg:#333333;
        --post-code-text-color:snow;
        --post-reference-bg:#595959;
    }
}
body[data-theme=dark]{
    --body-bg:#333333;
    --post-bg:rgb(38,38,38);
    --header-bg:rgba(38,38,38,0.45);
    --post-shadow-color:#404040;
    --text-color:snow;
    --text-blogname-color:snow;
    --tianyi-color:#66ccff;
    --post-code-bg:#333333;
    --post-code-text-color:snow;
    --post-reference-bg:#595959;
}
body[data-theme=light]{
    --body-bg:#fff;
    --post-bg:#ededed;
    --header-bg:rgba(194,194,194,0.45);
    --post-shadow-color:#d6d6d6;
    --text-color:#242424;
    --text-blogname-color:black;
    --tianyi-color:#66ccff;
    --post-code-bg:#333333;
    --post-code-text-color:snow;
    --post-reference-bg:#595959;
}

.Contrast{
        fill: var(--text-color);
}
.main{
    display: block;
}
.home-container{
    display: flex;
    display: -webkit-flex;
    margin-left: auto;
    margin-right: auto;
    /*height: 100%;*/
    max-width: 975px;
}
.post-container{
    width: 100%;
    /*width: 90%;*/
    min-width: 400px;
    /*max-width: 795px;*/
    height: 100%;
    border: 0;
    padding: 5px 5px 5px 15px;
    /*margin-left: 20%;*/
    border-radius: 3px;
}
.info-container{
    padding: 5px 15px 5px 5px;
    /*min-width: 400px;*/
    top: 60px;
    height: 100%;
    min-width: 200px;
    position: sticky;
    /*max-width: 200px;*/
}

.info-container-inner{
    height: 100%;

}

.info{
    text-align: center;
    border: 0;
    background-color: var(--post-bg);
    width: 100%;
    /*display: inline-block;*/
    height: 350px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px var(--post-shadow-color);
    margin-bottom: 10px;
}

.info-icon{
    margin-top: 10px;
    border-radius: 3px;
    width: 180px;
    height: 180px;
    border: 0;
    background-color: var(--tianyi-color);

}

.info-name{
    font-size: 25px;
    line-height: 50px;
    width: 100%;
    color: var(--text-color);
}

.info-txt{
    font-size: 15px;
    line-height: 25px;
    width: 100%;
    color: var(--text-color);
}

.info-link{
    display: flex;
    border: 0;
    background-color: var(--post-bg);
    width: 100%;
    height: 40px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px var(--post-shadow-color);
    margin-bottom: 10px;
    justify-content: space-around;
}
.info-link .permi-info{
    height: 100%;
    /*width: 100%;*/
    padding: 0 15px 0 15px;
    text-align: center;
    line-height: 40px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    font-size: 15px;
    color: var(--text-color);
}

.info-link .link-button{
    height: 100%;
    border: 0;
    width: 30px;
    /*width: 100%;*/
    margin: 0 15px 0 15px;
    text-align: center;
    cursor: pointer;
}

.info-link .searchBar{
    height: 40px;
    width: 80%;
    font-size: 18px;
    padding: 0 10px 0 10px;
    border: 0;
    color: var(--text-color);
    border-radius: 3px 0 0 3px;
    background-color: var(--post-bg);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 16px;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    font-size: 16px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 16px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 16px;
}
.info-link .searchBar:focus{
    outline: none;
    background-color: var(--body-bg);
}

.info-link .searchButton{
    height: 40px;
    width: 20%;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    color: var(--text-color);
}

.post-container .post{
    transition-duration: 0.3s;
    background-color: var(--post-bg);
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    min-height: 100px;
    width: 100%;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 0 1px var(--post-shadow-color);
}

.post-container .newest-title{
    transition-duration: 0.2s;
    background-color: var(--body-bg);
    cursor: inherit;
    display: block;
    margin-bottom: 10px;
    height: 200px;
    width: 100%;
    border: 0;
    color: var(--text-color);
    font-size: 50px;
    line-height: 200px;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.post-page{
    border: 0;
    background-color: var(--post-bg);
    width: 100%;
    height: 40px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px var(--post-shadow-color);
}

.post-page .post-page-container{
    height: 40px;
    padding: 0 30px 0 30px;
    display: flex;
    display: -webkit-flex;
    transition-duration: 0.4s;
    justify-content: space-around;
}
.post-page-container-currentPage{
    padding: 0 15px 0 15px;
    color: var(--text-color);
    justify-content: center;
    display: inline-block;
    line-height: 40px;
    min-width: 62px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.post-page-container-button{
    padding: 0 15px 0 15px;
    cursor: pointer;
    color: var(--text-color);
    justify-content: center;
    display: inline-block;
    line-height: 40px;
    min-width: 62px;
}
.post-page-container-nullSearch{
    padding: 0 15px 0 15px;
    color: var(--text-color);
    justify-content: center;
    display: inline-block;
    line-height: 40px;
    min-width: 62px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.post-container .main-post{
    transition-duration: 0.3s;
    background-color: var(--post-bg);
    display: block;
    margin-bottom: 10px;
    height: 600px;
    width: 100%;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 0 1px var(--post-shadow-color);
    /*position: relative;*/
}

.post img{
    border-radius: 3px 3px 0 0;
    border: 0;
    background-color: var(--tianyi-color);
    top: 0;
    vertical-align:bottom;
    display: block;
    /*height: 200px;*/
    width: 100%;
    float: top;
    z-index: 1;
    /*box-shadow: 0px 0px 0 1px #262626;*/

}

.post .post-txt-container{
    bottom: 0;
    z-index: 2;
    width: 100%;
    float: bottom;
    padding: 0 25px 0 25px;
    min-height: 100px;
    border-radius: 0 0 3px 3px;
    /*box-shadow: 0px 0px 0 1px #404040;*/
    background-color: var(--post-bg);

}

.post-txt-container .post-txt-container-title{
    color: var(--text-color);
    font-size: 25px;
    width: 100%;
    line-height: 80px;
}

.post-txt-container .post-txt-container-datetime{
    color: var(--text-color);
    font-size: 9px;
    width: 100%;
    line-height: 60px;
}
.post-txt-container .post-txt-container-introduction{
    color: var(--text-color);
    font-size: 15px;
    width: 100%;
    line-height: 1.5;
}
.post-txt-container .post-txt-container-console-container{
    height: 40px;
    padding: 0 30px 0 30px;
    display: flex;
    display: -webkit-flex;
    transition-duration: 0.4s;
    justify-content: space-around;
}

.post-txt-container-console-container .console-container-button{
    padding: 0 15px 0 15px;
    cursor: pointer;
    color: var(--text-color);
    justify-content: center;
    display: inline-block;
    line-height: 40px;
    min-width: 62px;
}

.post:hover{
    box-shadow: 0 0 0 2px var(--tianyi-color);
}

.topTitle{
    margin:0 auto;
    text-align: center;
    font-size: 50px;
    line-height: 200px;
    color: var(--body-bg);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition-duration: 0.4s;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

}