* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #333333;
    line-height: 1.5;
}
@media screen and (max-width: 990px){
    .home-container {
        flex-direction: column-reverse;
    }
    .main>.home-container>.info-container{
        padding: 5px 15px 5px 15px;
        position: inherit;
    }
    .main>.home-container>.post-container{
        padding: 5px 15px 5px 15px;
    }
    .main>.topTitle{
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        font-size: 50px;
        line-height: 200px;
        color: snow;
        width: 100%;
        transition-duration: 0.6s;
        height: 200px;
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
    }

}



.main{
    display: block;
}
.home-container{
    display: flex;
    display: -webkit-flex;
    margin-left: auto;
    margin-right: auto;
    /*height: 100%;*/
    max-width: 975px;
}
.post-container{
    width: 100%;
    /*width: 90%;*/
    min-width: 400px;
    height: 100%;
    border: 0;
    padding: 5px 5px 5px 15px;
    /*margin-left: 20%;*/
    border-radius: 3px;
}
.info-container{
    padding: 5px 15px 5px 5px;
    /*min-width: 400px;*/
    top: 60px;
    height: 100%;
    min-width: 200px;
    position: sticky;
}

.info-container-inner{
    height: 100%;

}

.info{

    border: 0;
    background-color: rgb(38,38,38);
    width: 100%;
    height: 250px;
    border-radius: 3px;
    box-shadow: 0px 0px 0 1px gray ;
    margin-bottom: 10px;
}

.info-link{

    border: 0;
    background-color: rgb(38,38,38);
    width: 100%;
    height: 40px;
    border-radius: 3px;
    box-shadow: 0px 0px 0 1px gray ;
}

.post-container .post{
    transition-duration: 0.3s;
    background-color: rgb(38,38,38);
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    height: 300px;
    width: 100%;
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 0 1px dimgray;
}

.post:hover{
    box-shadow: 0px 0px 0 2px #66ccff;
}

.topTitle{
    margin:0 auto;
    text-align: center;
    font-size: 50px;
    line-height: 200px;
    color: #333333;
    width: 100%;
    height: 0;
    transition-duration: 0.6s;
    /*background-color: rgb(38,38,38);*/
}

.topTitle:hover{
    color: #66ccff;
}