.post-edit-topImg{
    width: 100%;
    text-align: center;
    margin: 30px 0 30px 0;
    font-size: 20px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background-color: var(--post-bg);
}
.post-edit-topImg:focus{
    outline: none;
    background-color: var(--body-bg);
}

.post-edit-title{
    width: 100%;
    text-align: center;
    margin: 30px 0 30px 0;
    font-size: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--post-bg);
    color: var(--text-color);
}

.post-edit-title:focus{
    outline: none;
    background-color: var(--body-bg);
}
.post-edit-datetime{
    color: var(--text-color);
    height: 40px;
    line-height: 30px;
    background-color: var(--body-bg);
    border: 1px solid var(--text-color);
}
.post-edit-dynamic{
    color: var(--text-color);
    height: 40px;
    line-height: 30px;
    background-color: var(--body-bg);
    border: 1px solid var(--text-color);
}
.post-edit-txt{
    width: 100%;
    height: 500px;
    margin: 30px 0 30px 0;
    font-size: 20px;
    border: 1px solid var(--text-color);
    transition-duration: 0s;
    resize: vertical;
    background-color: var(--post-bg);
    color: var(--text-color);
}

.post-edit-txt:focus{
    outline: none;
    background-color: var(--body-bg);
}

.post-edit-introduction{
    width: 100%;
    height: 100px;
    margin: 30px 0 30px 0;
    font-size: 20px;
    border: 1px solid var(--text-color);
    resize: vertical;
    transition-duration: 0s;
    background-color: var(--post-bg);
    color: var(--text-color);
}

.post-edit-introduction:focus{
    outline: none;
    background-color: var(--body-bg);
}