@media screen and (max-width: 990px){
    body>.header>.nav>.blogName{
        padding: 0;
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        width: 0;
        font-size: 25px;

        color: rgba(0,0,0,0);
    }
    body>.header>.nav>.nav-container{
        margin:0 auto;
        width: 100%;
        display: inline-flex;
        display: -webkit-inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    body>.header>.nav>.nav-container>.nav-content>.nav-link{
        padding: 0 5px 0 5px;
        min-width: 50px;
    }
    body>.header>.nav>.nav-container>.nav-content{
        width: 50px;
    }
}
.header{
    background-color: var(--header-bg);
    backdrop-filter: blur(4px);
    min-height: 60px;
    display: block;
    flex:0 0 auto;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    position: sticky;
    box-shadow: 0 6px 24px -14px var(--post-shadow-color);
}
.nav{
    display: flex;
    display: -webkit-flex;
    top: 0;
    min-height: 60px;
    line-height: 60px;
    color: var(--text-color);
}

.blogName{
    padding: 0 40px 0 40px;
    font-size: 35px;
    font-family: TrumpGothicPro-Bold;
    position: inherit;
    color: var(--text-blogname-color);
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.blogName:hover{
    color: var(--tianyi-color);
}
.nav-container{
    display: flex;
    display: -webkit-flex;
}
.nav-content{
    width: 62px;
    height: 60px;
}
.nav-link{
    padding: 0 15px 0 15px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    line-height: 57px;
    min-width: 64px;
}
.nav-content:hover >.hover-bar{
    width: 100%;
}
.nav-link:hover{
    color: var(--tianyi-color);
}
.hover-bar{
    width: 0%;
    margin: 0 auto;
    height: 3px;
    background-color: var(--tianyi-color);
    transition-duration: 0.3s;
    box-shadow: 0 -5px 25px 1px var(--tianyi-color);
}
