@media screen and (max-width: 990px){
    .main>.header>.nav>.blogName{
        padding: 0;
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        width: 0;
        font-size: 25px;
        transition-duration: 0.2s;
        color: rgba(0,0,0,0);
    }
    .main>.header>.nav>.nav-container{
        margin:0 auto;
        width: 80%;
        justify-content: space-around;
    }
    .main>.header>.nav>.nav-container>.nav-link{
        padding: 0 5px 0 5px;
    }
}
.header{
    background-color: var(--header-bg);
    backdrop-filter: blur(4px);
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    animation-duration: 0.1s;
    transition-duration: 0.1s;
    width: 100%;
    z-index: 9999;
    position: sticky;
}
.nav{
    display: flex;
    display: -webkit-flex;
    top: 0;
    height: 60px;
    line-height: 60px;
    color: var(--text-color);
}

.nav .blogName{
    padding: 0 40px 0 40px;
    font-size: 25px;
    position: inherit;
    color: var(--text-blogname-color);
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    transition-duration: 0.2s;
}

.blogName:hover{
    color: var(--tianyi-color);
}
.nav-container{
    display: flex;
    display: -webkit-flex;
    transition-duration: 0.2s;
}

.nav-link{
    padding: 0 15px 0 15px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    display: inline-block;
    line-height: 57px;
    min-width: 62px;
    transition-duration: 0.2s;

}
.nav-link:hover > .hover-bar{
    width: 100%;
}

.nav-link:hover{
    color: var(--tianyi-color);
}

.hover-bar{
    width: 0%;
    margin: 0 auto;
    height: 3px;
    background-color: var(--tianyi-color);
    transition-duration: 0.3s;

}