
.header{
    background-color: rgba(38,38,38,0.85);
    backdrop-filter: blur(4px);
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    animation-duration: 0.1s;
    transition-duration: 0.1s;
    width: 100%;
    /*justify-content: center;*/
    z-index: 9999;
    /*display: inline-flex;*/
    position: sticky;
}
.nav{
    display: flex;
    height: 60px;
    line-height: 60px;
    color: snow;
}

.nav .blogName{
    padding: 0 40px 0 40px;
    font-size: 25px;
}