<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="design.princessdreamland.onlinemall.mapper._PostMapper">

	<resultMap type="design.princessdreamland.onlinemall.entity._Post" id="_postMap">
		<id property="postId" column="post_id" />

	</resultMap>

<sql id="cols">
	o.ord_id,
	o.book_id,
	o.buyer_id,
	o.seller_id,
	o.price,
	o.amount,
	o.total,
	o.status,
	o.address,
	o.waybill,
	o.deleted,
	o.create_user_id,
	o.create_time,
	o.update_user_id,
	o.update_time,

</sql>


<sql id="where">
	<where>
		<if test="order!=null" >
			<if test="order.ordId!=null and order.ordId!='' ">
				AND o.ord_id = #{order.ordId}
			</if>
			<if test="order.bookId!=null and order.bookId!='' ">
				AND o.book_id = #{order.bookId}
			</if>
			<if test="order.buyerId!=null and order.buyerId!='' ">
				AND o.buyer_id = #{order.buyerId}
			</if>
			<if test="order.sellerId!=null and order.sellerId!='' ">
				AND o.seller_id = #{order.sellerId}
			</if>
			<if test="order.status!=null and order.status!='' ">
				AND o.status = #{order.status}
			</if>
			
			<if test="order.book!=null">
				<if test="order.book.name!=null and order.book.name!='' ">
					AND b.name LIKE CONCAT('%', #{order.book.name}, '%')
				</if>

			</if>			
		</if>
	
	</where>
</sql>





</mapper>







