<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="design.princessdreamland.onlinemall.OrderMapper">

	<resultMap type="design.princessdreamland.onlinemall.entity.Order" id="orderMap">
		<id property="ordId" column="ord_id" />

		<association property="book" columnPrefix="b_">
			<id property="bookId" column="book_id" />
		</association>

		<association property="buyer" columnPrefix="bu_">
			<id property="userId" column="user_id" />
		</association>

		<association property="seller" columnPrefix="su_">
			<id property="userId" column="user_id" />
		</association>

		<association property="createUser" columnPrefix="cu_">
			<id property="userId" column="user_id" />
		</association>

		<association property="updateUser" columnPrefix="uu_">
			<id property="userId" column="user_id" />
		</association>

	</resultMap>

<sql id="cols">
	o.ord_id,
	o.book_id,
	o.buyer_id,
	o.seller_id,
	o.price,
	o.amount,
	o.total,
	o.status,
	o.address,
	o.waybill,
	o.deleted,
	o.create_user_id,
	o.create_time,
	o.update_user_id,
	o.update_time,

	b.book_id b_book_id,
	b.name b_name,

	bu.user_id bu_user_id,
	bu.account bu_account,
	bu.name bu_name,
	bu.type bu_type,
	bu.address bu_address,
	
	su.user_id su_user_id,
	su.account su_account,
	su.name su_name,
	su.type su_type,
	su.address su_address,
	
	cu.user_id cu_user_id,
	cu.account cu_account,
	cu.name cu_name,
	cu.type cu_type,
	cu.address cu_address,
	
	uu.user_id uu_user_id,
	uu.account uu_account,
	uu.name uu_name,
	uu.type uu_type,
	uu.address uu_address

</sql>


<sql id="where">
	<where>
		<if test="order!=null" >
			<if test="order.ordId!=null and order.ordId!='' ">
				AND o.ord_id = #{order.ordId}
			</if>
			<if test="order.bookId!=null and order.bookId!='' ">
				AND o.book_id = #{order.bookId}
			</if>
			<if test="order.buyerId!=null and order.buyerId!='' ">
				AND o.buyer_id = #{order.buyerId}
			</if>
			<if test="order.sellerId!=null and order.sellerId!='' ">
				AND o.seller_id = #{order.sellerId}
			</if>
			<if test="order.status!=null and order.status!='' ">
				AND o.status = #{order.status}
			</if>
			
			<if test="order.book!=null">
				<if test="order.book.name!=null and order.book.name!='' ">
					AND b.name LIKE CONCAT('%', #{order.book.name}, '%')
				</if>

			</if>			
		</if>
	
	</where>
</sql>


<select id="queryList" resultMap="orderMap">
	SELECT
	<include refid="cols" />,
	(SELECT img_src FROM book_img bi
		WHERE bi.book_id = b.book_id
		ORDER BY bi.book_img_id ASC
		LIMIT 0, 1
	) b_img_src
	FROM ord o
	LEFT JOIN book b ON b.book_id = o.book_id AND b.deleted = 0
	LEFT JOIN user bu ON bu.user_id = o.buyer_id AND bu.deleted = 0
	LEFT JOIN user su ON su.user_id = o.seller_id AND su.deleted = 0 
	LEFT JOIN user cu ON cu.user_id = o.create_user_id AND cu.deleted = 0
	LEFT JOIN user uu ON uu.user_id = o.update_user_id AND uu.deleted = 0
	
	<include refid="where" />
	
	ORDER BY o.ord_id DESC

</select>


<select id="queryPage" resultMap="orderMap">
	SELECT
	<include refid="cols" />,
	(SELECT img_src FROM book_img bi
		WHERE bi.book_id = b.book_id
		ORDER BY bi.book_img_id ASC
		LIMIT 0, 1
	) b_img_src
	FROM ord o
	LEFT JOIN book b ON b.book_id = o.book_id AND b.deleted = 0
	LEFT JOIN user bu ON bu.user_id = o.buyer_id AND bu.deleted = 0
	LEFT JOIN user su ON su.user_id = o.seller_id AND su.deleted = 0 
	LEFT JOIN user cu ON cu.user_id = o.create_user_id AND cu.deleted = 0
	LEFT JOIN user uu ON uu.user_id = o.update_user_id AND uu.deleted = 0
	
	<include refid="where" />
	
	ORDER BY o.ord_id DESC

</select>

</mapper>







