<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="design.princessdreamland.onlinemall.mapper.UserMapper">
    <resultMap id="userMap" type="design.princessdreamland.onlinemall.entity.User">
        <id property="user_id" column="user_id"/>
            <association property="create_user" columnPrefix="cu_">
                <id column="user_id" property="user_id"/>
            </association>


        <association property="update_user" columnPrefix="uu_">
            <id column="user_id" property="user_id"/>
        </association>

    </resultMap>

    <sql id="cols">
        u.user_id,
        u.account,
        u.password,
        u.name,
        u.type,
        u.balance,
        u.address,
        u.deleted,
        u.create_user_id,
        u.create_time,
        u.update_user_id,
        u.update_time,

        cu.user_id cu_user_id,
        cu.account cu_account,
        cu.name cu_name,
        cu.type cu_type,
        cu.address cu_address,

        uu.user_id uu_user_id,
        uu.account uu_account,
        uu.name uu_name,
        uu.type uu_type,
        uu.address uu_address

    </sql>
    <sql id="where">
        <where>
            AND u.deleted = 0
            <if test="user!=null and user!='' ">
                <if test="user.user_id!=null and user.user_id!='' ">
                    AND u.user_id = #{user.user_id}
                </if>
                <if test="user.account!=null and user.account!='' ">
                    AND u.account LIKE CONCAT('%', #{user.account}, '%')
                </if>
                <if test="user.name!=null and user.name!='' ">
                    AND u.name LIKE CONCAT('%', #{user.name}, '%')
                </if>
                <if test="user.type!=null and user.type!='' ">
                    AND u.type = #{user.type}
                </if>
                <if test="user.address!=null and user.address!='' ">
                    AND u.address LIKE CONCAT('%', #{user.address}, '%')
                </if>
            </if>

        </where>

    </sql>

    <select id="queryList" resultMap="userMap">
        SELECT
        <include refid="cols" />

        FROM user u
        LEFT JOIN user cu ON cu.user_id = u.create_user_id AND cu.deleted = 0
        LEFT JOIN user uu ON uu.user_id = u.update_user_id AND uu.deleted = 0

        <include refid="where" />

        ORDER BY u.user_id DESC

    </select>
    <select id="queryPage" resultMap="userMap">
        SELECT
        <include refid="cols" />

        FROM user u
        LEFT JOIN user cu ON cu.user_id = u.create_user_id AND cu.deleted = 0
        LEFT JOIN user uu ON uu.user_id = u.update_user_id AND uu.deleted = 0

        <include refid="where" />

        ORDER BY u.user_id DESC

    </select>

</mapper>